<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina de pruebas">
    <title>Primera app web </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="website icon" typy="png" href="/img/icon.jpg">
</head>

<body>
    <aside id="cont-form" class="cont-form">
        <h1>Bienvenido al area de  administracion</h1>
        <button type="button" id="cronometro">Ir A cronometro<a href="https://www.youtube.com/"></a></button>
        <button type="submit" id="cerrar">Cerrar<a href="login.html"></a></button>
    </aside>
    <script src="/js/admin.js"></script>
</body>

</html>